<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Perak</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card color="secondary">
    
    <ion-card-header>
      <ion-card-title>Perak</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <img src="assets/perak.JPG" />
      <p>Perak is a state in the northwest of Peninsular Malaysia. The capital city Ipoh is known for its British colonial landmarks, including a baroque railway station. Sam Poh Tong is a huge Buddhist cave temple filled with wall paintings. The town of Gopeng is a base for rafting on the Kampar river. Off the west coast, the resort island of Pulau Pangkor has forested hills and the ruins of a 17th-century Dutch fort.
      </p>

      <p >
     <br> <b>Area:</b> 20,976 km²
     <br> <b>Population:</b>  2.447 million (2013)
     <br> <b>Menteri besar:</b>  Ahmad Faizal Azumu
     <br> <b>Area code:</b> 09
     </p>

    </ion-card-content>
  </ion-card>

  <ion-card>
    <h3>Lagu Kebangsaan</h3>
    <video
      width = "100%"
      controls="controls"
      preload="metadata"
      autoplay="autoplay">
      <source src="assets/perak.mp4" type="video/mp4">
    </video>
  
  </ion-card>
  
</ion-content>