<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Kuala Lumpur</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card color="secondary">
    
    <ion-card-header>
      <ion-card-title>Kuala Lumpur</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <img src="assets/kuala lumpur.JPG" />
      <p>Kuala Lumpur is the capital of Malaysia. Its modern skyline is dominated by the 451m-tall Petronas Twin Towers, a pair of glass-and-steel-clad skyscrapers with Islamic motifs. The towers also offer a public skybridge and observation deck. The city is also home to British colonial-era landmarks such as the Kuala Lumpur Railway Station and the Sultan Abdul Samad Building.
      </p>

      <p >
     <br> <b>Area:</b> 243 km²
     <br> <b>Elevation:</b> 66 m
     <br> <b>Founded:</b> 1857
     <br> <b>Population:</b> 1.808 million (2017)
     </p>

    </ion-card-content>
  </ion-card>

  <ion-card>
    <h3>Lagu Kebangsaan</h3>
    <video
      width = "100%"
      controls="controls"
      preload="metadata"
      autoplay="autoplay">
      <source src="assets/kuala lumpur.mp4" type="video/mp4">
    </video>
  
  </ion-card>
  
</ion-content>