<ion-header>
  <ion-toolbar color="mycolor">
    <ion-title>Lab Task 7</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content color="dark">
<ion-grid fixed>
 
  <img src="assets/jerungmerah.png" />
  <ion-row>
    <ion-col size="6">
      <ion-button [routerLink]="['/lab8']" size = "small" expand="full" fill="outline">
      <ion-icon slot="start" name="add"></ion-icon>
      Programe
    </ion-button>
  </ion-col>

    <ion-col size="6">
      <ion-button [routerLink]="['/contact']" size="small" expand="full" fill="outline">
        <ion-icon name="call" ></ion-icon>
      Contact Us
    </ion-button>
  </ion-col>
  </ion-row>
</ion-grid>


<ion-row>
  <ion-col size="12">
  <ion-button size="small" expand="full">
    <ion-icon slot="start" name="add"></ion-icon>
    Programe
  </ion-button>
</ion-col>

</ion-row>
</ion-content>

<ion-footer>
  <ion-toolbar color="mycolor" class="ion-text-center">
  <ion-title>copyright @2021</ion-title>
</ion-toolbar>
</ion-footer>