<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Terengganu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card color="secondary">
    
    <ion-card-header>
      <ion-card-title>Terengganu</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <img src="assets/terengganu.JPG" />
      <p>Terengganu, formerly spelled Trengganu or Tringganu, is a sultanate and constitutive state of federal Malaysia. The state is also known by its Arabic honorific, Dāru l-Īmān.
      </p>

      <p >
     <br> <b>Area:</b> 13,035 km²
     <br> <b>Population:</b> 1.125 million (2013)
     <br> <b>Chief minister:</b> Ahmad Samsuri Mokhtar
     <br> <b>Area code:</b> 09
     </p>

    </ion-card-content>
  </ion-card>

  <ion-card>
    <h3>Lagu Kebangsaan</h3>
    <video
      width = "100%"
      controls="controls"
      preload="metadata"
      autoplay="autoplay">
      <source src="assets/terengganu.mp4" type="video/mp4">
    </video>
  
  </ion-card>
  
</ion-content>