<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Selangor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card color="secondary">
    
    <ion-card-header>
      <ion-card-title>Selangor</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <img src="assets/selangor.JPG" />
      <p>Selangor is a state on the west coast of Peninsular Malaysia, encircling the capital Kuala Lumpur. In the state capital, Shah Alam, the Sultan Salahuddin Abdul Aziz Mosque has 4 soaring minarets and a huge blue dome. To the northeast are the limestone Batu Caves, which house ornately decorated Hindu shrines. A large golden statue of the Hindu god Lord Murugan stands at the entrance, and monkeys scamper about..
      </p>

      <p >
     <br> <b>Area:</b> 8,104 km²
     <br> <b>Population:</b> 5.79 million (2013)
     <br> <b>Area code:</b> 03
     </p>

    </ion-card-content>
  </ion-card>

  <ion-card>

    <h3>Lagu Kebangsaan</h3>
    <video
      width = "100%"
      controls="controls"
      preload="metadata"
      autoplay="autoplay">
      <source src="assets/selangor.mp4" type="video/mp4">
    </video>
  
  </ion-card>
  
</ion-content>