<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Kelantan</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card color="secondary">
    
    <ion-card-header>
      <ion-card-title>Kelantan</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <img src="assets/kelantan.JPG" />
      <p>Kelantan is a rural state in the northeast of Peninsular Malaysia. Kota Bharu, the riverside capital, is home to royal palaces like the wooden Istana Jahar. Sultan Ismail Petra Arch is an ornate timber structure with Islamic inscriptions. The central market, Pasar Siti Khadijah, is crowned by a glass dome. Balai Getam Guri village is known for its handicrafts, including silverware, batik and embroidery.
      </p>

      <p >
     <br> <b>Area:</b> 17,100 km²
     <br> <b>Population:</b>  2.001 million (2018)
     <br> <b>Area code:</b> 09
     </p>

    </ion-card-content>
  </ion-card>
  <ion-card>
    <h3>Lagu Kebangsaan</h3>
    <video
      width = "100%"
      controls="controls"
      preload="metadata"
      autoplay="autoplay">
      <source src="assets/kelantan.mp4" type="video/mp4">
    </video>
  
  </ion-card>
  
</ion-content>