<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      News
    </ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content color="primary">

    <ion-card color="warning">
      
      <ion-card-header>
        <ion-card-title>Remarkable FYP Event at time of Pandemic (MyFreeCovid-19)</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <img src="assets/news1.jpg" />
        <p>Final your studnts froom Bachelor of Comunicatiobn (Hons) in Corporate Communication (BK201) would 
          like to concene everyone to watch our specially made video for "MyFreeCovid-19".
        </p>
      </ion-card-content>
    </ion-card>

    <ion-card color="success">
      <ion-card-header>
        <ion-card-title>KL2017: Malaysia on its way to becoming first Sea Games cricket champions</ion-card-title>
      </ion-card-header>
    <ion-card-content>
      <img src="assets/news1.jpg" />
      <p>KUALA LUMPUR: Malaysia took a big step towards becoming cricket's first Sea Games champions after beating Singapore by six wickets in the 50-overs competition at the Kinrara Oval on Wednesday.
        Ahmad Faiz Mohammad Noor's century led Malaysia to a victory which ensures the hosts will finish top of round-robin table by winning their final match against winless Indonesia on Thursday.</p>
    </ion-card-content>
    </ion-card>

  
  
</ion-content>
